@page "/"


<div class="Main">
    <div class="img1">
        <img src="Aya.png" alt="Aya Kathem" />
    </div>
    <div class="PersonalContainer">
        <div class="PersonalName">Aya Kathem</div>
        <div class="PersonalInfo">

            Adress:
            <br>
            Tel/mail:
            <br>
            <p style= "font-weight: bold ">Språk</p>
            Engelska–flytande
            <br>
            Svanska–flytande
            <br>
            Arabiska–modersmål
            <br>
            <label>Länker:</label>
            <br>
            <a href="https://www.linkedin.com/in/aya-kathem-97506416a/">Min Linkedin </a>
            <br>
            <br>
            <p style="font-weight: bold ">
                REFERENSER ges vid begäran
            </p>
            
        </div>
    </div>
</div>

    <div class="Main3">
        <Profil />
    </div>

    <div class="Main3">
       <SkillPage />
    </div>

    <div class="Main3">
   <Experance />
    </div>

    <div class="Main3">
        <Projects /> 
    </div>

   

@code {
  
   
}

