.Main {
    margin-top: 100px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background-image: url('dep.jpg');
    background-size: cover;
    border-radius: 20px / 20px;
    padding: 20px;
    border-bottom: 1px solid black;
}

.PersonalContainer {
    display: flex; 
    flex-direction: column; 
}

.PersonalName {
    font-family: Garamond, serif;
    font-size: 40px; 
    margin-left: 10px;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5); 
    color: darkslategrey;
    width: 300px;
    border-bottom: 3px solid black; 
}

.PersonalInfo {
    font-family: Garamond, serif;
    font-size: 20px; 
    margin-top: 30px; 
    margin-left: 10px;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5); 
    color: darkslategrey;
}

.img1 {
    margin-right: 20px; 
}

    .img1 img {
        width: 400px; 
        height: 600px; 
    }

@media (max-width: 640.98px) {
    .img1 img {
        width: 200px; 
        height: 400px; 
    }
}



.Main3 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #FFF9F4;
    flex-direction: column;
    padding: 20px;
    font-family: Garamond, serif;
    color: darkslategrey;
    border-bottom: 1px solid black;
    border-radius: 20px / 20px;
    margin-top: 10px;
}



